---
---
@charset "utf-8";


/**
 * Font stylings.
 */
$base-font-family: "Source Sans Pro", sans-serif;
$base-font-size: 1.8em;
$base-font-weight: 300;
$monospace-font-family: "Source Code Pro", monospace;
$small-font-size: $base-font-size * 0.875;

$text-color: #333333;
$light-text-color: #555555;

$link-color: #3390b7;

/**
 * Page colors.
 */
$pane-background-color: #ffffff;
$dark-background-color: #f3f3f3;  // for slight emphasis
$background-color: #d2d2d2;

/**
 * Device breakpoints.
 */
$phone-breakpoint: 768px;
$tablet-breakpoint: 992px;


@import "base";
@import "jumbotron";
@import "layout";
@import "projects";
@import "resume";
