body {
    font: 10px "Source Sans Pro", sans-serif;
    color: #eee;
    background: #555 url('../assets/bigsur.jpg') no-repeat center center fixed;
    background-size: cover;
}

body:after {
    content: '\A';
    position: absolute;
    z-index: -1;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.2;
}

#main {
    background: rgba(20, 20, 20, 0.85);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    overflow: auto;
    width: 23em;
    padding: 2em;
    border-radius: 5em;
    box-shadow: 0 1em 2em #000;
    text-align: center;
}

#portrait {
    display: block;
    margin: 0.8em;
    width: 21em;
    border: .2em solid #eee;
    border-radius: 2.2em;
}

#error-icon {
    display: block;
    margin: .2em auto;
    font-size: 5em;
    color: #d55;
}

#name {
    margin: 0.5em 0;
    padding: 0;
    font-weight: 400;
    font-size: 3.5em;
}

#links {
    margin: 0.6em 0;
    padding: 0;
}

#links li {
    display: inline;
    margin: 0.2em;
    font-size: 3.7em;
}

#links li a {
    color: #eee;
    text-decoration: none;
}

#links li a:hover {
    color: #aaa;
}

#links .text-label {
    display: none
}

#error-icon {
    display: block;
    margin: .5em auto;
    font-size: 5em;
    color: #d55;
}
