body {
    font: $base-font-weight #{$base-font-size} $base-font-family;
    color: $text-color;
    background: $background-color fixed url('/assets/shattered.png');
}


code, kbd, pre, samp {
    color: $light-text-color;
    background-color: $dark-background-color;
    font-family: $monospace-font-family;
}


/**
 * Links
 */
a {
    color: $link-color;
}
