/*
 * FULL SCREEN DIALOGS
 * Used on the splash page.
 */
.full-pane {
    .jumbotron {
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
    }

    .page-header, .page-header h1 {
        margin-top: 0;
    }

    @media (max-width: $tablet-breakpoint) {
        max-width: 15em;
        margin: 5% auto;
        text-align: center;
        font-size: 1.2em;

        li {
            display: block;
        }

        .page-header {
            padding: 0;
            margin-bottom: 0;
        }

        .portrait {
            max-width: 12em;
            margin: 10px auto;
        }
    }

    @media (min-width: $tablet-breakpoint) {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: 61em;
        font-size: 1.3em;

        .row {
            display: table;
        }

        .row > div {
            display: table-cell;
            vertical-align: middle;
            float: none;
        }

        .list-inline > li:before {
            content: '\00B7';
            padding-right: 15px;
        }

        .list-inline > li:first-child:before {
            content: '';
            padding-right: 0;
        }
    }
}


/*
 * ERROR SCREENS
 */
.error-pane {
    @extend .full-pane;

    width: 37em;

    @media (max-width: $tablet-breakpoint) {
        margin: 5% auto;
        max-width: 95%;
    }

    .alert .fa {
        position: relative;
        top: -2px;
        margin-right: .3em;
        vertical-align: middle;
    }

    .alert pre {
        margin-top: 1.2em;
        background: #F6E9E9;
    }
}
