/**
 * Define content sizes.
 */
$max-width: 45em;
$nav-height: 30px;

/**
 * NAVBAR
 */
.navbar {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);

    .navbar-brand {
        font-weight: 600;
    }

    @media (min-width: $phone-breakpoint) {
        .container {
            height: $nav-height;
            max-width: $max-width;
            padding-left: 2em;
            padding-right: 2em;
        }
    }
}


/**
 * CONTENT BOX
 */
#content {
    background: $pane-background-color;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    padding-top: $nav-height;

    .page-header {
        padding-bottom: 0;
    }

    @media (max-width: $phone-breakpoint) {
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 0.5em;
    }

    @media (min-width: $phone-breakpoint) {
        max-width: $max-width;
        margin-bottom: 50px;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 1em;
        border-width: 0 1px;
        border-color: $pane-background-color;
        border-radius: 10px;
    }
}
