/**
 * Project list elements.
 */
#project-list .media {
    $media-icon-size: 64px;

    margin-top: 0;
    margin-bottom: 30px;

    .media-left {
        img {
            width: $media-icon-size;
            height: $media-icon-size;
        }

        .fa {
            display: block;
            width: $media-icon-size;
            height: $media-icon-size;
            padding: 18px 0;
            font-size: 28px;
            text-align: center;
            color: #aaa;
            background: #eee;
        }

        a:hover {
            text-decoration: none;
        }
    }

    .media-heading {
        font-size: 1.4em;
    }

    p {
        margin-bottom: 0;
    }

    .taglist {
        margin-left: 1em;

        .fa {
            color: #999;
            font-size: 0.8em;
        }
    }
}
